

.srch-inpt{
    position: absolute;
    right: 170px;
    top: 130px;
}

.srch-inpt-1{
    position: absolute;
    right: 100px;
    top: 130px;
}
.justify-content-end{
    float: left;
  
   
}